:root {
  --primary-yellow: #fbae3c;
  --primary-blue: #358ed2;
  --secondary-blue: #216497;
}

html, body {
  height: 100%;
  margin: 0;

  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: var(--primary-blue);
  background-image: url("assets/background.svg");
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 3vw;
}

header #header-left {
  display: flex;
  align-items: center;
  gap: 1vw;
}

header #github-logo {
  height: 2.5em;
  position:relative;
  top: -0.2em;
}

main {
  flex: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10vw;
}

main #entry, main #blurb {
  border-radius: 0.5em;

  background-color: #FFEAEE;

  padding: 1em;
}

main #entry {
  /* width: 40vw; */
  flex: 1;
  max-width: 600px;
  min-width: 280px;
}

main #entry #input-area {
  display: flex;
  gap: 1em;
  height: 2.5em;
}

main #entry #input-area #wiki-url {
  flex: 1;
}

main #entry #input-area #export-button {
  border-radius: 4px;
  border: 1px solid black;
  background-color: greenyellow;
}

main #entry #input-area #export-button:hover {
  border-radius: 4px;
  border: 1px solid black;
  background-color: rgb(122, 181, 33);
}

main #blurb {
  /* width: 30vw; */
  flex: 1;
  max-width: 400px;
  min-width: 220px;
}

footer {
  background-color: var(--secondary-blue);

  padding: 0.5em;

  display: flex;
  align-items: center;
  flex-direction: column;
}

footer p {
  margin: 0;
  padding: 0;
}

@media (max-width: 890px) {
  main {
    flex-direction: column;
    gap: 2em;
    padding: 1em;
  }
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
    gap: 2em;
    padding: 1em;
  }

  header {
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
  }

  header h1 {
    font-size: 5em;
  }

  header h3 {
    font-size: 1.5em;
  }

  main #entry,
  main #blurb {
    width: 100%;
    max-width: 80vw;
    height: auto;
    max-height: 20vh;

    font-size: larger;
  }
}