:root {
  --primary-yellow: #fbae3c;
  --primary-blue: #358ed2;
  --secondary-blue: #216497;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: var(--primary-blue);
  background-image: url("assets/background.svg");
  background-size: cover;
}

header {
  outline: black solid 1px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 3vw;
}

header #header-left {
  display: flex;
  align-items: center;
  gap: 1vw;
}

header #github-logo {
  height: 2.5em;
  position:relative;
  top: -0.2em;
}

main {
  outline: black solid 1px;

  flex: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10vw;
}

main #entry {
  outline: black dashed 1px;
}

main #blurb {
  outline: black dashed 1px;
}

footer {
  outline: black solid 1px;
  background-color: var(--secondary-blue);

  display: flex;
  align-items: center;
  flex-direction: column;
}

footer p {
  margin: 0;
  padding: 0;
}