<!DOCTYPE html>
<html lang="en">
<head>
  <title>Export Wiki</title>
  <link rel="stylesheet" type="text/css" href="style.css">

  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
</head>

<body>
  <header>
    <h1>Export Wiki</h1>
    <h3>Export your github wiki to a downloadable file.</h3>
  </header>

  <main>
    <div class="entry">
      <input type="url" id="wiki-url" placeholder="Enter the URL of github repo or wiki">
      <select id="export-type">
        <option value="pdf">PDF</option>
        <option value="md">Markdown</option>
        <option value="html">HTML</option>
      </select>
      <button id="export-button">Export</button>
    </div>
  </main>

  <footer>
    <p>© 2025 Abraham Moore Odell <a href="https://abemo.github.io/abemo/" target="_blank">My Website</a></p>
    <p>The source code for this project can be found <a href="https://github.com/abemo/export-wiki" target="_blank">here</a>.</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>